body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 12px;
  margin: 20px auto;
}

h1, h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

input {
  background-color: #f0f2f5;
  border: 1px solid #ddd;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#message {
  text-align: center;
  color: green;
  margin-top: 15px;
}

#users-list {
  margin-top: 30px;
}

.user-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-item p {
  margin: 0;
  color: #333;
}

.user-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.user-actions button {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s;
  flex: 1;
}

.delete-btn {
  background-color: #dc3545;
  color: #ffffff;
}

.edit-btn {
  background-color: #ffc107;
  color: #ffffff;
}

.renew-btn {
  background-color: #28a745;
  color: #ffffff;
}

.delete-btn:hover {
  background-color: #c82333;
}

.edit-btn:hover {
  background-color: #e0a800;
}

.renew-btn:hover {
  background-color: #218838;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.admin-info {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-info p {
  margin: 0;
  color: #333;
  font-weight: bold;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c82333;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
