body {
  font-family: 'Roboto', sans-serif;
  background-color: #141b29;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.login-container {
  max-width: 400px;
  width: 90%;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  background-color: #0c1b33;
  border-radius: 12px;
  margin: 20px auto;
  text-align: center;
}

.login-container img.logo {
  width: 100px;
  margin-bottom: 20px;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

input {
  background-color: #f0f2f5;
  border: 1px solid #ddd;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.container {
  max-width: 800px;
  width: 90%;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  background-color: #0c1b33;
  border-radius: 12px;
  margin: 20px auto;
}

h1, h2 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

#admin-panel .admin-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c82333;
}

.user-item {
  background-color: #1f80e0;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.user-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.user-actions button {
  margin-right: 10px;
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .container, .login-container {
    width: 95%;
    padding: 15px;
  }

  #admin-panel .admin-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-item {
    padding: 10px;
  }

  .user-actions {
    flex-direction: column;
    gap: 5px;
  }

  input, button {
    padding: 10px;
    font-size: 0.9rem;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1, h2 {
    font-size: 1.5rem;
  }

  .container, .login-container {
    width: 100%;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
  }

  .logout-button {
    padding: 8px;
  }

  .user-item {
    padding: 8px;
  }

  input, button {
    padding: 8px;
    font-size: 0.8rem;
  }

  button {
    width: 100%;
  }
}
